.container {
  display: flex;
  gap: 50px;
}
.textbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.pretitle {
  color: var(--btn-primary-color);
}
.title {
  font-size: 3rem;
  line-height: 70px;
}
.paragraph {
  font-weight: 500;
  line-height: 1.8rem;
}
.imageBox {
  max-width: 500px;
  flex: 1 1 100%;
  position: relative;
  border-radius: 20px;
}
.imageboxImg {
  object-fit: cover;
  border-radius: 20px;
}

.ratings {
  display: flex;
  justify-content: space-around;
}

.ratings > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ratingText {
  font-weight: 600;
}
.ratingTitle {
  color: var(--btn-primary-color);
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .imageBox {
    width: 400px;
  }

  .textbox {
    flex-direction: column;
    text-align: center;
    padding: 10px;
    /* align-items: center; */
  }

  .imageBox {
    flex: 1 1 500px;
  }
}

@media (max-width: 450px) {
  .container {
    align-items: stretch;
  }

  .title {
    font-size: 2.2rem;
  }
  .ratings {
    font-size: 7px;

    gap: 10px;
  }
  .ratings > div {
    margin: 0 1rem;
  }
  .imageBox {
    flex: 1 1 300px;
    width: unset;
  }
}
