.container {
  display: flex;
  gap: 50px;
}

.fade {
  color: var(--bg-secondary-color);
}
.textbox {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.pretitle {
  color: var(--btn-primary-color);
}
.title {
  font-size: 3rem;
  line-height: 70px;
}
.paragraph {
  font-weight: 500;
  line-height: 30px;
}
.imageBox {
  max-width: 500px;
  height: 80vh;
  flex: 1;
  position: relative;
}
.top {
  display: flex;
}
.flex {
  height: 100%;
  text-align: center;
  padding: 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}

.authorInfo {
  display: flex;
  gap: 30px;
  text-align: center;
}
.authorInfo .author {
  text-align: center;
}
/* .authorInfo .author h5 {
  width: 60%;
} */
.smallimage {
  object-fit: cover;
}
.authorimagebox {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.imageboxImg {
  object-fit: cover;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .imageBox {
    display: none;
  }
}
@media (max-width: 500px) {
  .authorInfo {
    gap: 15px;
  }
  .authorInfo h5 {
    font-size: 12px;
  }
  .authorInfo .author h5 {
    width: 60%;
  }
}
@media (max-width: 400px) {
  .authorInfo h5 {
    font-size: 10px;
  }
  .container {
    align-content: center;
  }
  .title {
    font-size: 2rem;
  }
}
