.profileContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1200px;
  padding: 0;
}

.blog a {
  text-decoration: underline;
  font-weight: 600;
}
.blog a:hover {
  color: var(--btn-primary-color);
}
.blog {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.top {
  display: flex;
  position: relative;
}

.date {
  /* align-self: flex-end; */
  background-color: white;
  color: var(--bg-secondary-color);
  left: 100%;
  top: 30%;
  position: absolute;
  text-align: center;
  font-weight: bold;
  padding: 5px 1px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  font-size: 12px;
  /* margin: auto; */
  width: 100px;
  transform: rotate(90deg);
  transform-origin: left bottom;
  z-index: 1;
}

.desc {
  color: var(--bg-secondary-color);
  width: 90%;
}

.textbox {
  padding-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: clamp(10px, 1rem, 4rem);
}

.textbox a {
  color: inherit;
}

.imagebox {
  width: 100%;
  /* min-width: 230px; */
  position: relative;
  height: 300px;
  cursor: pointer;
}

.image {
  object-fit: cover;
}

@media (1100px < width < 1200px) {
  .container {
    justify-content: space-evenly;
  }
}
@media (1100px > width > 800px) {
  .blog {
    width: 40%;
  }
  .container {
    gap: 100px;
    /* padding-left: 100px; */
  }
}
@media (max-width: 800px) {
  .blog {
    width: 100%;
  }
  .container {
    padding: 40px;
  }
}
@media (800px > width > 430px) {
  .textbox {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .profileDiv > h2,
  .profileContainer > h3 {
    text-align: center;
  }
  .textbox {
    align-items: center;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 20px;
  }
  .textbox h2 {
    font-size: 13px;
  }
  .textbox p {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .profileDiv > h2,
  .profileContainer > h3 {
    text-align: center;
  }
  .textbox {
    align-items: center;
  }
  .date {
    font-size: 10px;
  }

  .date {
    left: 100%;
  }
  .imagebox {
    width: 100%;
  }
}
