.profileContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 20px;
  min-height: 80vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1200px;
  padding: 0;
}

.profileNavContainer {
  width: 100%;
  display: flex;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.profileNavBtn {
  padding: 0.6rem 1rem;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid white;
  box-shadow: none;
  flex: 1 1 100%;
  background-color: transparent;
  color: white;
}
.selectedButton {
  background-color: white;
  color: var(--bg-secondary-color);
}

.deleteAllBtn {
  width: fit-content;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  background-color: var(--bg-secondary-color);
  color: white;
  font-weight: bold;
  /* margin: 0 auto; */
  margin: 1rem 0px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.blog a {
  text-decoration: underline;
  font-weight: 600;
}
.blog a:hover {
  color: var(--btn-primary-color);
}
.blog {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.top {
  display: flex;
  position: relative;
}
.top:hover .deletebtn,
.top:hover .editbtn {
  display: block;
}

.deletebtn,
.editbtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  margin: 0.5rem;
  /* padding: 1rem; */
  width: 23px;
  height: 23px;
  z-index: 2;
  border-radius: 10px;
  /* border: 2px solid red; */
  background-color: white;
  /* display: none; */
}
.deletebtn {
  left: 0;
}
.editbtn {
  right: 0;
}
.date {
  /* align-self: flex-end; */
  background-color: white;
  color: var(--bg-secondary-color);
  left: 100%;
  top: 30%;
  position: absolute;
  text-align: center;
  font-weight: bold;
  padding: 5px 1px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  font-size: 12px;
  /* margin: auto; */
  width: 100px;
  transform: rotate(90deg);
  transform-origin: left bottom;
  z-index: 1;
}

.desc {
  color: var(--bg-secondary-color);
  width: 90%;
}

.textbox {
  padding-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: clamp(10px, 1rem, 4rem);
}

.textbox a {
  color: inherit;
}

.imagebox {
  width: 100%;
  /* min-width: 230px; */
  position: relative;
  height: 300px;
  cursor: pointer;
}
.profileDiv h2 {
  position: relative;
  display: inline-block;
}
/* .changeNameForm {
  border: 2px solid red;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -20px;
} */
/* .changeNameBtn {
  position: relative;
  height: 20px;
  width: 20px;
} */

.image {
  object-fit: cover;
}

@media (1100px < width < 1200px) {
  .container {
    justify-content: space-evenly;
  }
}
@media (1100px > width > 800px) {
  .blog {
    width: 40%;
  }
  .container {
    gap: 100px;
    /* padding-left: 100px; */
  }
}
@media (max-width: 800px) {
  .blog {
    width: 100%;
  }
  .container {
    padding: 40px;
  }
}
@media (800px > width > 430px) {
  .textbox {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .desc {
    text-align: center;
  }
  .profileDiv > h2,
  .profileContainer > h3 {
    text-align: center;
  }
  .textbox {
    align-items: center;
  }
  .deleteAllBtn {
    margin: 0px auto 1rem;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 20px;
  }
  .textbox h2 {
    font-size: 13px;
  }
  .textbox p {
    font-size: 11px;
  }
  .profileNavBtn {
    font-size: initial;
  }
}

@media (max-width: 320px) {
  .profileDiv > h2,
  .profileContainer > h3 {
    text-align: center;
  }
  .profileNavBtn {
    font-size: initial;
  }
  .textbox {
    align-items: center;
  }
  .date {
    font-size: 10px;
  }

  .date {
    left: 100%;
  }
  .imagebox {
    width: 100%;
  }
}
